{{page-title "Invoice"}}

{{#each this.model as |seats| }}

{{!-- <h2>{{seats.seat_booked}}</h2>
<h2>{{seats.name}}</h2>
<h2>{{seats.email}}</h2>
<h2>{{seats.price}}</h2>
<h2>{{seats.bus_no}}</h2> --}}



<center><br><br>
<h2>CONFIRM TICKET</h2>    
<br>
<table border="1" width="50%" cellpadding="3">
<thead>
<tr>
<th colspan="2" align ="left">Register Bus Here</th>
</tr>
</thead>
<tbody>
<tr>
<td>Enter Name</td>
<td><input type="text" name="name" value='{{seats.name}}' readonly /></td>
</tr>
<tr>
<td>Enter mail</td>
<td><input type="text" name="mail" value='{{seats.email}}' readonly /></td>
</tr>
<tr>
<td>Ticket_no</td>
<td><input type="text" name="ticket_no" value="{{seats.seat_booked}}" readonly /></td>
</tr>
<tr>
<td>Bus_no</td>
<td><input type="text" name="bus_no" value='{{seats.bus_no}}' readonly /></td>
</tr>
<tr>
<td>Price</td>
<td><input type="text" name="price" value='{{seats.price}}' readonly /></td>
</tr>
<tr>
<td><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KUvRDWONfgzG2J" async> </script></form></td>
</tr>
<tr>
</tr>
</tbody>
</table>
</center>
{{/each}}
<center>
    <br>
    <form></form>
        <center><a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a></center>
</center>

 <style>
      form {
      border: 5px solid #f1f1f1;
      }
      input[type=text], input[type=password] {
      width: 70%;
      padding: 8px 4px;
      margin: 4px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      .formcontainer {
      text-align: center;
      margin: 24px 50px 12px;
      }
      </style>