{{page-title "Qrcode"}}
{{#each this.model as |scan| }}
{{!-- <h2>{{scan.qr}}</h2>
<br><br>
<h2>{{scan.code}}</h2> --}}
<center>
  <form {{action "qrcheck" on="submit" }}>
  <h2>Open your Authenticator app on your phone and scan this QR code</h2>

  {{!-- <center><img src="https://chart.googleapis.com/chart?cht=qr&chl=otpauth://totp/vk?secret=CQXRW6TESCO6KS3CI46UCFNEWDU263BX&chs=160x160&chld=L|0"></center> --}}
  <center><img src="{{scan.qr}}"></center>
  <input type="text" name="otpcode" id="otpcode" placeholder="Enter code"><br><br>
  <button type="submit" >Submit</button>
</form>
</center>
{{/each}}

<style>
    button {
  background-color: #8ebf42;
  color: white;
  padding: 10px 16px;
  margin: 10px 0;
  border: none;
  cursor: grabbing;
  width: 12%;
  opacity: 0.8;
  }

  input[type=text] {
  padding: 8px 14px;
  margin: 8px 0;
  box-sizing: border-box;
}

</style>